#logo{
    width: 475px;
    animation: my_move 5s;
}

@keyframes my_move {
    from {width: 25px;}
    to {width: 475px;}
    from {opacity: 0;}
    to {opacity: 1;}

} 

body{
    background-image: url("../images/concrete_seamless.png");
    font-family: 'Poppins', serif;
    background-color:#f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links{
    display: flex;
    flex-direction: column;

}
a:visited {
    color: #0000EE;
}
/* ONLY those header elements that are direct children of a card class. */

.card > header{
    background: #288088;
    border: 2px solid #45adad;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div .card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    flex: 0 0 450px;
}

.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.gallery{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    height: 230px;
}
@media screen and (min-width: 800px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .pricing{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:row;
        flex-wrap: wrap;
    }
    .card{
        flex: 0 0 275px;
    }
    /*Modify the first header (the one not inside main) so that it remains visible at the top of the screen even as we scroll down. Make sure that it is always visible.*/
    #stick:first-of-type{
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

}
@media screen and (prefers-reduced-motion: reduce){
    #logo{
      animation: none;
    }
  }

@media print{
    /* Change the font on your body to Arial with a backup value of  Helvetica */
    body{
        font-family: Arial, Helvetica;
    }



    /*The background image should be removed. */
    body{
        background-image: none;
    }

    nav{
        width: 100%;
    }
     /*Edit the nav/nav_links elements so that they are spaced according to the image above. */
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    /*Edit the pricing class so that the elements align along the bottom.  As long as it aligns along the bottom we don't care if the cards aren't the same height.*/
    .pricing{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }


     /*The card elements should have a solid border 2px of #45ADDD and use flex-basis of 325px. */
    .card{
        display: flex;
        flex-basis: 325px;
        flex-shrink: 1;
        flex-grow:0;
        flex-direction: column;
        border: 2px solid #45ADDD;

    }
    /*No part of the gallery should be visible.*/
    .gallery{
        display: none;
    }
    #gallery{
        display: none;
    }


    /*Without using list-style-type add the thumbs up entity as shown in the cards.*/
    .card ul li:nth-child(even):after{
        content: "\1F44D";
    }
}
